<div class="row d-flex justify-content-center align-items-center" style="width: 100wh; height: 100%;">
  <div class="col-md-4 col-xs-12 ">
    <nb-card>
      <nb-card-header class="text-center">
          <h3>Crear una cuenta</h3>
          <p>Registrate para realizar alguna operacion</p>
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="">Name</label>
            <input
              type="text" 
              fullWidth
              nbInput  
              placeholder="Star Lord">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
                type="email" 
                fullWidth
                nbInput  
                placeholder="example@mail.com">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
                type="password" 
                fullWidth
                nbInput  
                placeholder="**************">
          </div>
          <div class="form-group">
            <label for="">Password Confirmation</label>
            <input
                type="password" 
                fullWidth
                nbInput  
                placeholder="**************">
          </div>
          <div class="form-group">
            <nb-checkbox 
              status="success">Terminos y condiciones</nb-checkbox>
            </div>
          <div class="form-group">
            <button 
              nbButton 
              hero
              fullWidth
              status="success" 
              type="submit">Registrarse</button>
          </div>
        </form>
        <div class="text-center">
          Ya tengo una cuenta? <a routerLink="/login">Ingresar</a>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
  
  